---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const pizzas = await getCollection("pizzas");
const countries = await getCollection("countries");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <ul>{countries.map((c) => <li>{c.data.name}</li>)}</ul>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <ul>
        {
          pizzas.map(({ data }) => (
            <li>
              {data.pizzaName}
              <ul>
                {data.ingredients.map((i) => (
                  <li>{i}</li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
